.action-buttons {
    display: flex;
    gap: 20px;
    .show-notification {
        cursor: pointer;
        padding: 10px 14px;
        border: none;
        border-radius: 4px;
        background-color: green;
        color: white;
        font-weight: 600;
        font-size: 14px;
    }
    .hide-notification {
        cursor: pointer;
        padding: 10px 14px;
        border: none;
        border-radius: 4px;
        background-color: tomato;
        color: white;
        font-weight: 600;
        font-size: 14px;
    }
}